.palette-card {
	border-radius: 2px;
	@include elevation-2dp();
	display: flex;
	flex-direction: column;
}
.palette-shade {
	padding: 12px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}


.palette-shade--dark { @extend .palette-shade; }
.palette-shade--main { @extend .palette-shade; }
.palette-shade--light { @extend .palette-shade; }
.palette-color__name {
	font-weight: bold;
	width: -webkit-fill-available;
	width: -moz-available;
}
.palette-color__code {
	display: flex;
	align-items: center;
	font-family: $nya-code--font;
}
a.palette-color__code {
	color: inherit;
}

.palette--copy-icon:before {
	margin-right: 6px;
}