.post-field { width: 100%; }

@media (max-width: 479px) {
	.post-fields {
		display: block;
	}
}
@media (min-width: 480px) {
	.post-field:not(:last-child) {
		border-right: rgba(255,255,255,0.25) solid 1px;
		margin-right: 8px;
	}
	.post-fields { display: flex; }
}

.post-field > i {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	height: 16px;
}

.post-card {
	width: 100%;
	margin-bottom: 12px;
	min-height: 0;
}

.post-header {
	margin-bottom: 1rem;
	border-radius: 4px;
}

.post-header,
.post-card { background-size: cover; }

.post-card-cover { background-color: transparentize($nya-bg-0, 0.25); }

.post-cover {
	min-height: 144px;
	background-size: cover;
	background-position: center 5%;
	border-radius: $nya-rounding;
}

.post-title {
	margin-top: 0;
}

// Size and align images in articles
article img, article video {
	max-height: 420px;
    max-width: 100%;
	margin: auto;
	display: flex;
}

.comments {
	display: flex;
	min-height: 128px;
	align-items: center;
	justify-content: center;
}

.post-category-badge {
	background: $nya-bg-12;
	border-radius: 24px;
	text-transform: uppercase;
	padding: 6px 12px;
	font-weight: bold;
	margin-bottom: 12px;
  display: flex;
  width: min-content;
}



.code-file {
	background: $nya-code--bg;
	font-family: $nya-code--font;
	font-size: 14px;
	border-radius: $nya-rounding;
	display: flex;
	flex-direction: column;

	.filename {
		display: flex;
		padding: 6px;
		font-weight: bold;
		border-bottom: lighten($nya-code--bg, 12) 1px solid;
	}

	figure {
		margin: 0;

		pre {
			margin: 0;
		}
	}
}
