<p class="light-text">This page was updated on {{ "now" | date: "%Y-%m-%d %H:%M" }}</p>

<div class="badge-case">
    <marquee scrollamount="2" scrolldelay="60">
        <a href="/qa"><img src="/img/88x31/bestviewed16bit.gif" alt="BEST VIEWED 1024x768 16Bit Color" class="web-button"></a>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img class="web-button" alt="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License" src="/img/88x31/cc/by-nc-sa.png" /></a>
        <a href="https://notepad-plus-plus.org/"><img src="/img/88x31/notepadpp.gif" alt="Made with Notepad++" class="web-button"></a>
        <a href="https://gelbooru.com/index.php?page=post&s=list&tags=rating%3asafe+2girls+kiss+-1boy"><img src="/img/88x31/animegay.gif" alt="anime is gay as hell but I approve!" class="web-button"></a>
        <a href="https://twitter.com/CoinersTakingLs/"><img src="/img/88x31/antinft.gif" alt="This is an Anti-NFT Site" class="web-button"></a>
    </marquee>
</div>