<style type="text/css">
{% include_sass layout/layout.scss %}
</style>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
{% if site.configuration == "tor" %}
<link rel="stylesheet" type="text/css" href="/css/purple.css">
{% else %}
<link rel="stylesheet" type="text/css" href="/css/pink.css">
{% endif %}
<link rel="stylesheet" type="text/css" href="/css/mobile.css">
<link rel="stylesheet" type="text/css" href="/css/print.css" media="print">
{% for stylesheet in page.css  %}<link rel="stylesheet" type="text/css" href="{{stylesheet}}">{% endfor %}