---
layout: optimized
title: About
permalink: /about/
hidden: true
---

<style>
  .abuseipdb {
    text-align: center;
  }
  .abuseipdb img {
    filter: contrast(0);
    width: 200px;
  }
</style>

<div class="avatar-container">
	<div class="avatar">
		<img src="https://cdn.libravatar.org/avatar/f09eac630e6afb02e897b2444407611b?s=128" alt="Avatar" width="128" height="128">
	</div>
</div>

<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
		<h4>
			E-Mail
		</h4>
		
		<a class="despam" href="mailto:{{site.data.about.email}}">
			<code class="despam">
				{{ site.data.about.email }}
			</code>
		</a>
	</div>

	<div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
		<h4>
			PGP <a href="{{site.data.about.pgp-download}}" class="mdi mdi-24px mdi-download" aria-label="Download PGP"></a>
		</h4>
		<pre>{{site.data.about.pgp}}</pre>
	</div>
</div>

<h4>Contact & Profiles <i style="font-size:small">I'm everywhere</i></h4>

<div class="mdl-grid">
	{% for section in site.data.contact %}
		{% if section.expand %}
		<div class="mdl-cell mdl-cell--12-col">
		{% else %}
		<div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop">
		{% endif %}
			<h6 class="contact-section-title">
				{{section.title}}
			</h6>
			<ul class="slist">
				{% for contact in section.contacts %}
				<li>
					{% assign color = contact.color | default: "unset" %}
					<a href="{{contact.link}}" class="{% if contact.unused %}contact-unused{% endif %}" style="color:{{color}}">
						<img src="/assets/images/favicons/{{contact.favicon}}" width="16" height="16" class="contact-favicon">{{contact.platform}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>

<hr>

<div class="abuseipdb">
  <p>
    Doing professional snitching at:
  </p>
  <a href="https://www.abuseipdb.com/user/17741" title="AbuseIPDB is an IP address blacklist for webmasters and sysadmins to report IP addresses engaging in abusive behavior on their networks" alt="AbuseIPDB Contributor Badge">
    <img src="https://www.abuseipdb.com/contributor/17741.svg" width="200" height="50" alt="AbuseIPDB Contibutor">
  </a>
</div>

<script>
	let e = document.getElementsByClassName("despam");
	let p = "mailto:";

	for (var i = 0; i < e.length; i++) {
		let l = e[i];

		try {
			if (l.href && l.href.startsWith(p))
				l.href = p + window.atob(l.href.split(p)[1]); 
			else
				l.innerText = window.atob(l.innerText);
		} catch (e) {
			console.warn("Failed to decode string", l);
		}
	}
</script>
