---
layout: optimized
title: Tsumiki
palette:
- name: "Tsumiki Purple"
  hex: "#8A83D1"
  fg: "#000"
  lightShades:
  - hex: "#D4D3ED"
  darkShades:
  - hex: "#423B65"
    fg: "#FFF"

- name: "Tsumiki Light Blue"
  hex: "#81AAE8"
  fg: "#000"

- name: "Tsumiki Cat Ear White"
  hex: "#EFEDE1"
  fg: "#000"
  darkShades:
  - hex: "#D8C9B3"

- name: "School Uniform Pink"
  hex: "#ED859E"
  fg: "#000"
  darkShades:
  - hex: "#AB5B6B"
    fg: "#FFF"

- name: "Hime Brown"
  hex: "#A27B5C"
  fg: "#000"
  lightShades:
  - hex: "#C0AD9C"
  darkShades:
  - hex: "#715642"
    fg: "#FFF"

- name: "Hime Blue"
  hex: "#4891B1"
  fg: "#000"
  darkShades:
  - hex: "#35597B"
    fg: "#FFF"

- name: "Mayoi Orange"
  hex: "#EF9F6A"
  fg: "#000"
  lightShades:
  - hex: "#F1D8BB"
  darkShades:
  - hex: "#C96B49"

- name: "Io Brown"
  hex: "#5A4A4D"
  fg: "#FFF"
  lightShades:
  - hex: "#AFA4AC"
    fg: "#000"
  darkShades:
  - hex: "#443A3B"

- name: "Sakaki Orange"
  hex: "#ECBC8E"
  fg: "#000"
  lightShades:
  - hex: "#F4EAD1"
  darkShades:
  - hex: "#C17E53"
    fg: "#FFF"

- name: "Kana Green"
  hex: "#98CDA1"
  fg: "#000"
  lightShades:
  - hex: "#D1E5D5"
  darkShades:
  - hex: "#63A46C"

- name: "Kana Teal"
  hex: "#5D8E92"
  fg: "#000"
  darkShades:
  - hex: "#496E6E"
    fg: "#FFF"

- name: "Saki Yellow"
  hex: "#EED791"
  fg: "#000"
  lightShades:
  - hex: "#F2EED8"
  darkShades:
  - hex: "#BA9E5F"

- name: "Saki Light Yellow"
  hex: "#EEEABB"
  fg: "#000"
  darkShades:
  - hex: "#C6BC89"

- name: "Noseblood Red"
  hex: "#DE6B78"
  fg: "#000"
  darkShades:
  - hex: "#B54F58"
    fg: "#FFF"

- name: "Hatch Patch Brown"
  hex: "#504241"
  fg: "#FFF"
  darkShades:
  - hex: "#3E3634"

- name: "Hatch Patch White"
  hex: "#F0ECE1"
  fg: "#000"
  darkShades:
  - hex: "#D0C5B3"

- name: "Anger Red"
  hex: "#CA3D43"
  fg: "#FFF"
  darkShades:
  - hex: "#90343D"

- name: "Blush Pink"
  hex: "#FEC3BB"
  fg: "#000"
  darkShades:
  - hex: "#F1B1A8"

- name: "Youchien Purple"
  hex: "#9E77E4"
  fg: "#000"
  darkShades:
  - hex: "#6A3BBD"
    fg: "#FFF"
---

<h1>
    The Acchi Kocchi Color Palette
</h1>

<div class="mdl-grid">
  {% for color in page.palette %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--6-col-desktop">
      {% for shade in color.lightShades %}
          {% assign fg = shade.fg | default: color.fg %}
          <div class="shade light-shade" style="color:{{fg}};background:{{shade.hex}}">
              <a class="color-code">
                {{ shade.hex }}
              </a>
          </div>
      {% endfor %}

      <div class="shade main-shade" style="color:{{color.fg}};background:{{color.hex}}">
          <span class="color-name">
            {{ color.name }}
          </span><br />
          <a class="color-code">
            {{ color.hex }}
          </a>
      </div>

      {% for shade in color.darkShades %}
          {% assign fg = shade.fg | default: color.fg %}
          <div class="shade dark-shade" style="color:{{fg}};background:{{shade.hex}}">
              <a class="color-code">
                {{ shade.hex }}
              </a>
          </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

<center>
    <i>
        Incomplete :3
    </i>
</center>

<div id="snackbar" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>

<style>
    .color-name {
        font-weight: bold;
        width: -webkit-fill-available;
    }
    .mdl-card {
        min-height: 0;
/*      Not needed since shades that have space fill the entire card now
        background: repeating-linear-gradient(
          45deg,
          transparent,
          transparent 10px,
          rgba(255, 255, 255, .125) 10px,
          rgba(255, 255, 255, .125) 20px
        );*/
    }
    .shade {
        padding: 12px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
    }
    .color-code {
      display: flex;
    }
    a.color-code {
      color: inherit;
    }
    .mdi.color-code:before {
      opacity: .5;
      margin-right: 4px;
    }
    .mdi.color-code {
      line-height: inherit;
      font-size: inherit;
    }
</style>

<script>
  var elements = document.getElementsByClassName("color-code");

  for (var i = 0; i < elements.length; i++) {
    var e = elements[i];

    e.onclick = function (e) {
      copy(e.target);
    }

    e.href = "#";
    e.classList.add("mdi", "mdi-content-copy");
  }

  function copy(element) {
    var snackbarContainer = document.querySelector('#snackbar');

    navigator.clipboard.writeText(element.innerText).then(function() {
      var data = {message: 'Copied to clipboard'};
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
    }, function() {
      var data = {message: 'Failed to copy'};
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
    });
  }
</script>
