{% assign siteTitle = {{site.title | escape}} %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="manifest" href="/manifest.webmanifest">

{% if page.title %}
	{% assign title = {{page.title | escape}} %}
	<title>{{title}} - {{siteTitle}}</title>
	<meta property="og:title" content="{{title}}"/>
{% else %}
	<title>{{siteTitle}}</title>
{% endif %}

{% if page.cover %}
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{site.url}}{{page.cover}}">
{% else %}
	<meta name="twitter:card" content="summary" />
{% endif %}

<meta property="og:site_name" content="{{siteTitle}}"/>

{% if site.twitter %}
  <meta name="twitter:site" content="{{site.twitter}}" />
{% endif %}

{% if page.excerpt %}
{% assign description = {{page.excerpt | strip_html | strip | escape}} %}
<meta name="description" content="{{ description }}">
<meta name="og:description" content="{{ description }}">
{% endif %}

{% if page.date %}
<meta property="article:published_time" content="{{page.date | date_to_xmlschema }}"/>
{% endif %}

<link rel="stylesheet" href="/styles/custom.css">
<link rel="stylesheet" href="/styles/style.css">
<script defer src="/scripts/mdl/material.min.js"></script>
<link rel="stylesheet" href="/styles/mdi/materialdesignicons.min.css">
