<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{page.title}} - craftplacer.moe</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css" href="/css/pink.css">
        <link rel="stylesheet" type="text/css" href="/css/mobile.css">
        {% include meta.html %}
    </head>
    <body>
        <table id="layout">
            <tr>
                <td id="nav">
                    <div class="panel">
                        <img id="banner" src="/img/banner.gif">
                    </div>
                    <div class="panel">
                        <div>
                            {% include navigation.html %}
                        </div>
                    </div>
                </td>
                <td id="content">
                    {{content}}
                </td>
                <td id="sidebar">
                    <div class="panel">
                        <div>
                            {% include sidebar.html %}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <img id="kyouko" src="/img/kyouko.gif" alt="">
        {% include web-ring.html %}
    </body>
</html>