---
layout: optimized
title: Features - CraftBot
features:
- title: Rolls & other fun commands
  description: Roll a number between 1 to 100, or ask the 8-ball.
  icon: dice-5
  color: "#BA68C8"
  link: "../commands/8ball"
  
- title: Discourse Feeds
  description: Get notified about new posts of a Discourse forum
  icon: newspaper
  color: "#4FC3F7"
  link: "../commands/"
  
- title: Catgirls!
  description: Nya~?
  icon: cat
  color: "#FFB74D"
  link: "../commands/catgirl"

- title: Quoting
  description: "Post a message id or link to quote messages in a detailed fashion."
  icon: format-quote-close
  color: "#90A4AE"
  link: "quoting"
---

<style>
  .mdi.mdl-list__item-avatar {
      color: black;
  }
</style>

<div class="mdl-list">
  {% for feature in page.features %}
  <a class="mdl-list__item mdl-list__item--two-line" href="{{ feature.link }}">
    <span class="mdl-list__item-primary-content">
      <i class="mdi mdi-{{feature.icon}} mdl-list__item-avatar" style="background:{{feature.color}}">
      </i>
      <span>
        {{feature.title}}
      </span>
      
      {% if feature.description %}
        <span class="mdl-list__item-sub-title">
          {{feature.description}}
        </span>
      {% endif %}
    </span>
  </a>
  {% endfor %}
</div>

<hr>

<p>
    Due to multiple rewrites and refactorings some features have been lost, and may not come back again.
</p>
<p>
    If you have ideas, suggestions or issues, you can always <a href="https://github.com/Craftplacer/CraftBot/issues">file them on GitHub</a>. Feature progress is always tracked on <a href="https://github.com/Craftplacer/CraftBot/projects/3">our board</a>.
</p>
