$nya-primary-900: #9f3b5e;
$nya-primary-900-fg: #fff;

$nya-primary-800: #c44666;
$nya-primary-800-fg: #fff;

$nya-primary-700: #d94c6a;
$nya-primary-700-fg: #fff;

$nya-primary-600: #f0536f;
$nya-primary-600-fg: #000;

$nya-primary-500: #ff5973;
$nya-primary-500-fg: #000;

$nya-primary-400: #ff6987;
$nya-primary-400-fg: #000;

$nya-primary-300: #ff819e;
$nya-primary-300-fg: #000;

$nya-primary-200: #ffa4b9;
$nya-primary-200-fg: #000;

$nya-primary-100: #ffc7d5;
$nya-primary-100-fg: #000;

$nya-primary-50: #fee9ee;
$nya-primary-50-fg: #000;