html, body, h1, h2, h3, h4, h5, h6, .mdl-layout__title, .mdl-layout-title {
  font-family: "Roboto Mono", monospace;
}

:root {
  --dark-1: #1F1F30;
  --dark-6: #2D2D3C;

  --background: #141425;
  --foreground: rgba(255, 255, 255, .87);
  --foreground2: rgba(255, 255, 255, .54);
}

html, .mdl-layout__drawer {
  background: var(--background);
  color: var(--foreground);
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
    background: var(--dark-1);
}

.mdl-navigation__link {
  color: rgba(255,255,255,0.8);
}

.mdl-layout__drawer {
  border: none;
}



.mdl-card {
  background: var(--dark-6);
}

.mdl-card__title, .mdl-card__supporting-text {
  color: inherit;
}

h2, h3, h4, h5, h6 {
  color: rgba(255,255,255,0.5);
}



/* Fix tab colors */
.mdl-tabs__tab-bar {
  border-bottom-color: rgba(255, 255, 255, 0.22);
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
  color: var(--foreground);
}

.mdl-tabs__tab {
  color: var(--foreground2);
}

/* Fix list items */
.mdl-list__item {
  font-family: inherit;
  color: var(--foreground);
}

.mdl-list__item--two-line .mdl-list__item-primary-content .mdl-list__item-sub-title {
  color: var(--foreground2);
}

/* Override cursor for list items with links */
a.mdl-list__item {
  cursor: pointer;
}

/* Material Design Icons Support */
.mdi {
  line-height: 24px;
  font-size: 24px;
}
.mdi.mdl-list__item-avatar, .mdi.mdl-navigation__link {
  padding: 8px;
}

.mdi.mdl-button--icon::before {
  padding: 4px;
}
