a[href^="crtplr//example/"] {
	color: var(--white);
	text-decoration: none;
	pointer-events: none;
	cursor: text;
}

a[href^="crtplr//example/1"]:before {
	content: ">";
}

a[href^="crtplr//example/1"]:after {
	content: "<";
}

a[href="crtplr//example/1/2"]:before {
	animation: cute 2s infinite;
}

a[href="crtplr//example/1/2"]:after {
	animation: cute 2s infinite;
}

a[href="crtplr//example/2"] {
	color: red;
}
