:root {
    --rainbow: linear-gradient(to right, hsla(0, 100%, 75%, 1), hsla(39, 100%, 75%, 1), hsla(60, 100%, 75%, 1), hsl(141, 100%, 75%), hsla(180, 100%, 75%, 1), hsla(240, 100%, 75%, 1), hsla(270, 100%, 75%, 1), hsla(300, 100%, 75%, 1));
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*
    background: var(--rainbow);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 2s linear infinite, shake 0.5s infinite;
	text-align: center;
    text-shadow: none;
*/