/*
	Craftplacer's CSS
	=================

	Feel free using snippets of it in your page, credit *would* be nice
	(even if some stuff was copied from StackOverflow)

	:3
*/

@import url("https://craftplacer.github.io/myspace/boxButton-icons.css");
@import url("https://craftplacer.github.io/myspace/shake.css");
@import url("https://craftplacer.github.io/myspace/rainbow.css");
@import url("https://craftplacer.github.io/myspace/tutorials.css");
@import url("https://craftplacer.github.io/myspace/better-notifications.css");

:root {
	--darker-black: #131519;
	--black: #282c34;
	--red: #E06C75;
	--purple: #c678dd;
	--white: #abb2bf;
	--blue: #61AFEF;
	--yellow: #e5c07b;
	--green: #98c379;

	--mainColor: var(--blue);
	--linkColor: var(--mainColor);

	--headerBackground: rgb(97, 175, 239, 0.75);
	--headerForeground: white;
	--headerIconSize: 24px;

	--monospace: Roboto Mono, Consolas, monospace;
	--background: rgba(40, 44, 52, 0.75);
	--border: rgba(0, 0, 0, 0.5) 1px solid;
	--areaPadding: 24px;
	--fwiendSize: 48px;
	--videoUrl: url(https://craftplacer.github.io/myspace/cirno-onsen.gif);
}

body {
	color: var(--white);
	text-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
	font-family: var(--monospace);
}

body {
	background-image: var(--videoUrl);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

#container {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: black 0px 0px 24px;
}

#header {
	background: var(--headerBackground) !important;
	color: black !important;
	border-bottom: none !important;
	padding-bottom: 6px !important;
}

#header>a {
	color: var(--headerForeground) !important;
}

#hSub {
	background: var(--headerBackground) !important;
	padding-top: 0px !important;
}

#hSub > a {
	color: var(--headerForeground) !important;
}

#container>div:nth-of-type(1) {
	backdrop-filter: blur(5px);
}

#container>div:nth-of-type(2) {
	backdrop-filter: blur(5px);
	box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 6px;
}

/* css props that don't work on the above :( */

/* abawt */
#about {
	text-align: center;
}

#about>h2 {
	background: var(--h);
	padding: 4px;
	margin-top: 14px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 2px;
	border: var(--border);
	font-size: 15px;
	color: white;
	font-weight: 500;
	text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
}

#about>h3 {
	background: var(--black);
	margin: 0;
	padding-block-start: 1em;
	padding-block-end: 1em;
}

#about>p {
	background: var(--background);
	border: var(--border);
	padding: var(--areaPadding);
}

/* colorful titles */

#about>h2:nth-of-type(1) {
	--h: var(--black);
	color: var(--white);
}

#about>h2:nth-of-type(2) {
	--h: #f788c1;
}

#about>h2:nth-of-type(3) {
	--h: var(--purple);
}

#about>h2:nth-of-type(4) {
	--h: #4d4cff;
}

#about>h2:nth-of-type(5) {
	--h: var(--green);
}

#about>h2:nth-of-type(6) {
	--h: var(--blue);
}

/* colored links */
.boxButton {
	color: var(--linkColor);
}

a {
	color: var(--linkColor);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 2px;
}

/* yes */
.boxInfo.box>a {
	font-weight: 900;
}

/* big futanari catgirl penis energy */
#block:hover:after {
	content: " lol, gay?";
}



/* hide various stuff */
.boxInfo>.boxHead, .blurbs>.rightHead, .comments>.boxHead, .url.box {
	display: none;
}

.extended {
	border: none;
	margin: 0;
}

.boxInfo {
	border: none;
}

/* fancy title ^w^ */

.blurbs>h4 {
	background: linear-gradient(45deg, var(--green), var(--blue));
	padding: 4px;
	margin-top: 14px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 2px;
	border: var(--border);
	font-size: 15px;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
}

.fwiends>.rightHead {
	padding: 4px;
	margin-top: 14px;
	margin-bottom: 0;
	background: linear-gradient(45deg, var(--red), var(--purple), var(--blue));
	text-align: center;
	font-size: 15px;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
	border: var(--border);
	border-radius: 2px;
	color: white;
	background-size: 400% 400%;
	-webkit-animation: rainbow 2s linear infinite;
}

/* kawwments (´o w o`) */

#form>.boxHead {
	background: var(--yellow);
	padding: 4px;
	margin-top: 14px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 2px;
	border: rgba(0, 0, 0, 0.5) solid 1px;
	font-size: 15px;
	color: white;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
}

#userWall>tbody {
	background: rgba(0, 0, 0, 0.5);
}

tr>td.tableLeft, tr>td.tableRight {
	background: none;
}

textarea {
	padding: 8px;
	margin-top: 0 !important;
	width: -webkit-fill-available !important;
	background: var(--background);
	color: white;
	font-family: sans-serif;
	border: var(--border);
}

/* fancy buttons */

button, input[type="submit"] {
	border: rgba(255, 255, 255, 0.25) solid 2px;
	border-radius: 2px;
	padding: 2px 16px;
}

button {
	background: var(--blue);
	color: var(--black);
}

input[type="submit"] {
	background: var(--black);
	color: var(--white);
}

#userWall>tbody>tr>.tableRight>button {
	background: var(--red);
	color: var(--black);
}

.blogCorpus>div>button:nth-child(1) {
	font-size: 0px !important;
}

.blogCorpus>div>button:nth-child(1):before {
	font-family: "Material Icons";
	content: "create";
	font-size: 20px;
}

.blogCorpus>div>button:nth-child(2) {
	font-size: 0px !important;
}

.blogCorpus>div>button:nth-child(2):before {
	font-family: "Material Icons";
	content: "delete";
	font-size: 20px;
}

/* fancy text uwu */

#who>p {
	font-size: 24pt;
	text-align: center;
	background: var(--background);
	border: var(--border);
	padding: var(--areaPadding);
}

#name {
	color: var(--purple);
	background: white;
	padding: 6px;
	text-align: center;
}

.shortRight {
	color: white;
}

/* cool videos ( o w o)b

.url {
	background-image: url(https://craftplacer.github.io/myspace/powerofdream.gif);
	height: 192px;
	background-size: cover;
}
*/

.player>audio {
	background: white;
	height: 16px;
}

/* blog */
.blog {
	background: none;
}

.blurbs>.blogs>div:nth-of-type(1) {
	background: var(--red);
	padding: 4px;
	margin-top: 14px;
	margin-bottom: 0;
	text-align: center;
	border-radius: 2px;
	border: rgba(0, 0, 0, 0.5) solid 1px;
	font-size: 15px;
	color: white;
	font-weight: 500;
	text-shadow: rgba(0, 0, 0, 0.75) 1px 1px 1px;
}

.blogs>div {
	background: var(--background);
	border-left: var(--border);
	border-right: var(--border);
	padding-left: var(--areaPadding);
	padding-right: var(--areaPadding);
	margin: 0;
	padding-bottom: 4px;
}

.blogs>div:nth-of-type(2) {
	border-top: var(--border);
	padding-top: var(--areaPadding);
}

.blogs>div:last-child {
	border-bottom: var(--border);
	padding-bottom: var(--areaPadding);
}

code {
	padding: 0 0.35em;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
}

.blog p {
	margin: 1em 0;
}

/* fwiends >w< */

.fwiendCounter {
	padding-top: 10px;
	padding-bottom: 20px;
	margin: 0;
	background: var(--background);
	border: var(--border);
	border-bottom: none;
	text-align: center;
}

#top {
	padding-left: 10px;
	padding-right: 10px;
	background: var(--background);
	border: var(--border);
	border-top: none;
	border-bottom: none;
	text-align: center;
	display: flex;
	padding-top: 16px;
}

#viewFriends {
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	background: var(--background);
	border: var(--border);
	border-top: none;
	text-align: center;
}

.fwiendFace {
	display: contents;
	max-width: inherit;
	width: inherit;
	padding: 0;
}

.fwiendFace>img {
	height: var(--fwiendSize);
	width: auto;
	image-rendering: initial;
	margin-left: 12px;
	margin-right: 24px;
	border-radius: calc(var(--fwiendSize) / 2);
}

.fwiendFace>b {
	top: -18px;
	position: relative;
}


/* blog tables */
.blogCorpus>table {
	border-collapse: collapse;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}

.blogCorpus>*>*>*>th {
	background: var(--white);
	color: var(--black);
}

.blogCorpus>*>*>*>td {
	border-left: var(--white) solid 1px;
	border-right: var(--white) solid 1px;
}



@keyframes cute {
	50% {
		content: "owo";
	}
	75% {
		content: "uwu";
	}
	90% {
		content: ">w<";
	}
}

.fwiendCount:after {
	content: "cool";
	margin-left: 0.5rem;
	background: var(--rainbow);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: rainbow 2s linear infinite, cool infinite 5s;
	text-align: center;
	text-shadow: none;
	font-weight: 900;
}

@keyframes cool {
	25% {
		content: "kawaii";
	}
	50% {
		content: "cute";
	}
	75% {
		content: "adorable";
	}
}
