---
---

$dark: #E098AC;
$main: #f4b7c8;

$home-section-background: $dark;
$home-section-text: black;

$warning-border: #F4DAB7;
$warning-background: #F4F0D9;
$warning-text: black;

html {
	font-family: "Arial", sans-serif;
	font-size: 8pt;
	background-color: #F4D9D9;
	background-image: url("/img/pink/bg.gif");
}

.cute-border {
	background: #FFF7F7;
	border-color: $main;
}

.panel {
	@extend .cute-border;
}

#content {
	table, td, th {
		border-color: $main;
	}
	
	th {
		background: #F4D9D9;
	}
}

h2:target {
	border-color: $dark;
}

hr {
	border-top-color: $main;
}

a { color: #EF7094; }
a:visited { color: #8E4A5D; }

.light-text { color: $dark; }

#nav .section {
	color: $dark;
}

.warning {
	background: $warning-background;
	border-color: $warning-border;
}

.small-wide-heading {
	color: $dark;
	border-bottom-color: $dark;
}

::selection {
  color: black;
  background: $dark;
}

::-moz-selection {
  color: white;
  background: $dark;
}

.sections th { background:#f4b7c8 !important; }

.note-background {
	font-family: 'azukifontL', cursive;
	letter-spacing: -1px;

	// & > div > table {
	// 	.note-left-margin { border-right-color: #ef7094 !important; }
	// 	tbody > .note-content > td { background-image: url('/img/pink/note-bg.gif'); }
	// }
}

@font-face {
	font-family: 'azukifontL';
	font-style: normal;
	font-weight: normal;
	src: url("/font/azukiL.ttf");
}

@font-face {
	font-family: 'azukifontL';
	font-style: normal;
	font-weight: bold;
	src: url("/font/azukiLB.ttf");
}

.blog-short {
	color: $dark;
	font-weight: bold;
}