---
layout: optimized
---

<style>
    .mdl-tabs__tab-bar {
      margin-bottom: 12px;
    }
</style>

<h2 class="mdi mdi-label">
  Tags
</h2>

{% if site.tags.empty %}
  <i>There are no posts with tags yet.</i>
{% else %}
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        {% for tag in site.tags %}
          <a href="#{{tag[0] | escape}}" class="mdl-tabs__tab">
            #{{ tag[0] | escape }}
          </a>
        {% endfor %}
    </div>

    {% for tag in site.tags %}
    <div class="mdl-tabs__panel" id="{{tag[0] | escape}}">
      {% for post in tag[1] %}
        {% include post-card.html %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endif %}

<script defer>
  function selectTab(tag) {
    console.debug("Searching for tab of tag " + tag);

    var tabs = document.getElementsByClassName("mdl-tabs__tab");
    for (var i = 0; i < tabs.length; i++) {
      var tab = tabs[i];

      console.debug("Found tab", tab);

      if (tab.href.endsWith("#" + tag)) {
        tab.classList.add("is-active");
        tab.click();
        break;
      }
    }

    var panel = document.getElementById(tag);
    panel.classList.add("is-active");
  }

  // Auto select tab
  document.addEventListener("DOMContentLoaded", function () {
    selectTab(window.location.href.split('#')[1])
  });
</script>
