.qt-list {

}

.qt-list-item {
    display: flex;
    vertical-align: middle;
    align-items: center;
    flex-grow: 1;

    min-height: 48px;

    padding-left: 16px;
}

.qt-list-item--left {
    flex-grow: 1;

    display: block;
    align-items: center;

    padding-top: 12px;
    padding-bottom: 12px;
}

.qt-list-item--right .qt-list-item--icon {
    margin: 0 16px;
}

.qt-list-item--icon,
.qt-list-item--image {
    float: left;
}

.qt-list-item--icon {
    margin: 16px 32px 16px 0;
    color: inherit;

    font-size: 24px;
    line-height: 24px;
}

.qt-list-item--image {
    width: 40px;
    height: 40px;
    margin: 8px 16px 0 8px;
}

.qt-list-item--overline,
.qt-list-item--text,
.qt-list-item--secondary-text {
    display: block;
}

// default text styling
.qt-list-item--overline {
    @include qt-type-overline();
    color: $nya-fg-secondary;
}

.qt-list-item--overline:not(.no-casing) {
    text-transform: uppercase;
}

.qt-list-item--text {
    color: $nya-fg;
}

.qt-list-item--secondary-text {
    color: $nya-fg-secondary;
    font-size: 12px;
}