---
title: Services
---

<p>This is an aggregated list of independently hosted web services.</p>

<div class="scroll-x">
    <table class="large-table services-table">
        <thead>
           <tr>
                <th rowspan=2>Host</th>
                <th rowspan=2>Maintainer</th>
                <th class="service" colspan=16>Services</th>
           </tr>
           <tr>
                <th colspan=3><abbr title="Fediverse">Fedi</abbr></th>
                <th colspan=2><abbr title="Instant Messaging">IM</abbr></th>
                <th colspan=2><abbr title="Alternative Frontends">Alt<br>FEs</abbr></th>
                <th colspan=3>Text</th>
                <th><abbr title="Voice over IP">VoIP</abbr></th>
                <th>Cloud</th>
                <th>Git</th>
           </tr>
        </thead>
        <tbody>
           {% for host in site.data.services %}
           <tr>
                <td>
                    {{ host.host }}{% if host.requires-invite %}<sup><a href="#requires-invite">1</a></sup>{% endif %}
                </td>
                <td>
                    {% if host.maintainer.website %}
                        <a href="{{ host.maintainer.website }}">{{ host.maintainer.name }}</a>
                    {% else%}
                        {{ host.maintainer.name }}
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.mastodon %}
                        <a href="{{ host.services.mastodon }}"><img alt="Mastodon" title="Mastodon" src="/img/ico/mastodon.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.pleroma %}
                        <a href="{{ host.services.pleroma }}"><img alt="Pleroma" title="Pleroma" src="/img/ico/pleroma.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.misskey %}
                        <a href="{{ host.services.misskey }}"><img alt="Misskey" title="Misskey" src="/img/ico/misskey.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.xmpp %}
                        <a href="{{ host.services.xmpp }}"><img alt="XMPP" title="XMPP" src="/img/ico/xmpp.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.matrix %}
                        <a href="{{ host.services.matrix }}"><img alt="Matrix" title="Matrix" src="/img/ico/matrix.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.nitter %}
                        <a href="{{ host.services.nitter }}"><img alt="Nitter" title="Nitter" src="/img/ico/nitter.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.invidious %}
                        <a href="{{ host.services.invidious }}"><img alt="Invidious" title="Invidious" src="/img/ico/invidious.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.etherpad %}
                        <a href="{{ host.services.etherpad }}"><img alt="Etherpad" title="Etherpad" src="/img/ico/etherpad.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.hedgedoc %}
                        <a href="{{ host.services.hedgedoc }}"><img alt="HedgeDoc" title="HedgeDoc" src="/img/ico/hedgedoc.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.privatebin %}
                        <a href="{{ host.services.privatebin }}"><img alt="PrivateBin" title="PrivateBin" src="/img/ico/privatebin.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.mumble %}
                        <a href="{{ host.services.mumble }}"><img alt="Mumble" title="Mumble" src="/img/ico/mumble.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.nextcloud %}
                        <a href="{{ host.services.nextcloud }}"><img alt="NextCloud" title="NextCloud" src="/img/ico/nextcloud.gif"></a>
                    {% endif %}
                </td>
                <td style="text-align:center">
                    {% if host.services.gitea %}
                        <a href="{{ host.services.gitea }}"><img alt="Gitea" title="Gitea" src="/img/ico/gitea.gif"></a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>

<p id="requires-invite">[1] Requires invite on all or some services</p>