.mdl-card__title, .mdl-card__supporting-text {
  color: inherit;
}

/* Make navigation links accessible */
.mdl-navigation .mdl-button--icon {
    padding: 8px;
}

/* Override cursor for list items with links */
a.mdl-list__item {
  cursor: pointer;
}

/* Material Design Icons Support */
.mdi {
  line-height: 24px;
  font-size: 24px;
}
.mdi.mdl-list__item-avatar, .mdi.mdl-navigation__link {
  padding: 8px;
}

.mdi.mdl-button--icon::before {
  padding: 4px;
}

.mdl-layout-title {
  margin-right: 12px;
}
