.post-field {
  width: 100%;
}
.post-fields {
  margin-top: -8px;
}

@media (max-width: 479px) {
  .post-fields {
    display: block;
  }
}
@media (min-width: 480px) {
  .post-field:not(:last-child) {
    border-right: rgba(255,255,255,0.25) solid 1px;
    margin-right: 8px;
  }
  .post-fields {
    display: flex;
  }
}

.post-field > i {
  font-size: 16px;
  line-height: 16px;
  width: 16px;
  height: 16px;
}

.post-card, .project-card {
  width: 100%;
  margin-bottom: 12px;
  min-height: 0;
}

/* Post Headers & Covers */
.post-header {
  margin-bottom: 1rem;
  border-radius: 4px;
}

.post-header, .post-card {
  background-size: cover;
}

.post-card-cover {
  background-color: var(--bg-75);
}

.post-header-cover {
  padding-bottom: 8px;
  background-color: var(--bg-75);
  height: 100%;
  width: 100%;

  text-shadow: black 0px 0px 2px;
}

.post-header, .post-header-cover {
  margin-left: -50%;
  margin-right: -50%;
  padding-left: 50%;
  padding-right: 50%;
}

/* Size images in articles */
article img {
  width: 100%;
}

.pre-nav {
  opacity: 0.5;
}
.pre-nav:after {
  content: " / ";
}

#darkmode-toggle {
  opacity: .125;
}