---
---

$nya-base: #ED859E; 
$nya-bg-0: change-color($nya-base, $saturation: 30, $lightness: 10);
$nya-bg-1: lighten($nya-bg-0, 5%);
$nya-bg-2: lighten($nya-bg-0, 7%);
$nya-bg-3: lighten($nya-bg-0, 8%);
$nya-bg-4: lighten($nya-bg-0, 9%);
$nya-bg-6: lighten($nya-bg-0, 11%);
$nya-bg-8: lighten($nya-bg-0, 12%);
$nya-bg-12: lighten($nya-bg-0, 14%);
$nya-bg-16: lighten($nya-bg-0, 15%);
$nya-bg-24: lighten($nya-bg-0, 16%);

$nya-accent: change-color($nya-base, $saturation: 100, $lightness: 75);
$nya-fg: #FFFFFF;

@function unfuck-mdl($color) {
	@return unquote("#{red($color)}"), unquote("#{green($color)}"), unquote("#{blue($color)}");
}

$performance_font: 'Roboto Mono', 'Consolas', 'Lucida Console', monospace;
$preferred_font: $performance_font;



$color-primary: unfuck-mdl($nya-bg-1);
$color-primary-dark: unfuck-mdl($nya-bg-0);

$color-accent: unfuck-mdl($nya-accent);

$card-background-color: $nya-bg-2;
$card-text-color: $nya-fg;
$card-supporting-text-text-color: transparentize($card-text-color, .46);
$card-subtitle-color: transparentize($card-text-color, .46);
$tab-border-color: rgba(255, 255, 255, 0.5);

$tab-text-color: transparentize($nya-fg, .46);
$tab-active-text-color: transparentize($nya-fg, .13);

$text-color-primary: $nya-fg;//adjust-color($nya-fg, $alpha: 87);

$color-primary-contrast: 255, 255, 255;
$color-accent-contrast: 0, 0, 0;

$trim-color-classes: true;

@import "material-design-lite/src/material-design-lite.scss";
@import "material-design-lite/src/_mixins.scss";

body {
	background: $nya-bg-0;
}

a {
	text-decoration: none;

	&.mdl-card {
		color: inherit;
	}
}

code {
	background: black;
    padding: 4px 8px;
    border-radius: 4px;
}

.contact-card {
	padding: 8px;
	background: $card-background-color;
	@include shadow-2dp();
}

.contact-section-title {
	font-weight: bold;
	text-decoration: underline;
}

.post-field {
	width: 100%;
}
.post-fields {
	margin-top: -8px;
}

@media (max-width: 479px) {
	.post-fields {
		display: block;
	}
}
@media (min-width: 480px) {
	.post-field:not(:last-child) {
		border-right: rgba(255,255,255,0.25) solid 1px;
		margin-right: 8px;
	}
	.post-fields {
		display: flex;
	}
}

.post-field > i {
	font-size: 16px;
	line-height: 16px;
	width: 16px;
	height: 16px;
}

.post-card, .project-card {
	width: 100%;
	margin-bottom: 12px;
	min-height: 0;
}

/* Post Headers & Covers */
.post-header {
	margin-bottom: 1rem;
	border-radius: 4px;
}

.post-header, .post-card {
background-size: cover;
}

.post-card-cover, .post-header-cover {
	background-color: transparentize($nya-bg-0, 0.25);
}

.post-header-cover {
	padding-bottom: 8px;
	height: 100%;
	width: 100%;

	text-shadow: black 0px 0px 2px;
}

.post-header, .post-header-cover {
	margin-left: -50%;
	margin-right: -50%;
	padding-left: 50%;
	padding-right: 50%;
}

/* Size images in articles */
article img {
	width: 100%;
}
