---
---
//#141425;

$nya-base: #ED859E; 
$nya-bg-0: change-color($nya-base, $saturation: 30, $lightness: 10);
$nya-bg-1: lighten($nya-bg-0, 5%);
$nya-bg-2: lighten($nya-bg-0, 7%);
$nya-bg-3: lighten($nya-bg-0, 8%);
$nya-bg-4: lighten($nya-bg-0, 9%);
$nya-bg-6: lighten($nya-bg-0, 11%);
$nya-bg-8: lighten($nya-bg-0, 12%);
$nya-bg-12: lighten($nya-bg-0, 14%);
$nya-bg-16: lighten($nya-bg-0, 15%);
$nya-bg-24: lighten($nya-bg-0, 16%);

$nya-accent: change-color($nya-base, $saturation: 100, $lightness: 75);
$nya-fg: #FFFFFF;

$performance_font: 'Roboto Mono', 'Consolas', 'Lucida Console', monospace;
$preferred_font: $performance_font;

@function unfuck-mdl($color) {
	@return unquote("#{red($color)}"), unquote("#{green($color)}"), unquote("#{blue($color)}");
}

$color-primary: unfuck-mdl($nya-bg-1);

$color-primary-dark: unfuck-mdl($nya-bg-0);
$text-color-primary: $nya-fg;//adjust-color($nya-fg, $alpha: 87);
$color-accent: unfuck-mdl($nya-accent);

$color-primary-contrast: 255, 255, 255;
$color-accent-contrast: 0, 0, 0;


$trim-color-classes: true;

@import "material-design-lite/src/material-design-lite.scss";
@import "material-design-lite/src/_mixins.scss";

body {
	background: $nya-bg-0;
}

a {
	text-decoration: none;

	&.mdl-card {
		color: inherit;
	}
}

code {
	background: black;
    padding: 4px 8px;
    border-radius: 4px;
}

.contact-card {
	padding: 8px;
	background: $nya-bg-2;
	@include shadow-2dp();
}

.contact-section-title {
	font-weight: bold;
	text-decoration: underline;
}